ActivityTracker/projects/ActivityTracker/obj/*
ActivityTracker/projects/ActivityTracker/ActivityTracker.uvguix.toonh
ActivityTracker/projects/ActivityTracker/ActivityTracker.uvguix.joel-
ActivityTracker/projects/ActivityTracker/ActivityTracker.uvguix.markv
